<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Listado de Publicaciones</h2>
		<form class="navbar-form" action="/publicacion/list">
		</form>
		<p>Estas son tus publicaciones:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Título</th>
						<th>Fecha</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${publicacionesList}">
						<td th:text="${p.titulo}">Titulo de la publicacion</td>
						<td th:text="${p.fecha}">Fecha de la publicacion</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>